<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiki - Mua hàng online giá tốt, hàng chuẩn, ship nhanh</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/css/loading.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>

<body>
<div th:replace="header"></div>

<main>
    <div class="loading">
        <span class="loader"></span>
    </div>
    <div class="nav">
        <div class="avatar">
            <img th:src="${user.photo.startsWith('https://firebasestorage.googleapis.com') ? user.photo : '/' + user.photo}" alt="">
            <p th:text="${user.name}"></p>
        </div>
        <ul class="profiles">
            <li>
                <i class="fa-solid fa-user"></i>
                <span>Tài khoản của tôi</span>
                <ul>
                    <li class="profile">
                        <a th:href="@{/user/profile}">Hồ sơ</a>
                    </li>
                    <li class="password active">
                        <a th:href="@{/user/password}">Đổi mật khẩu</a>
                    </li>
                    <li class="address">
                        <a th:href="@{/user/address}">Địa chỉ</a>
                    </li>
                </ul>
            </li>
            <li>
                <a th:href="@{/user/order}">
                    <i class="fa-solid fa-envelope-open-text"></i>
                    <span>Đơn mua</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="details">
        <div class="title">
            <p>Thay đổi mật khẩu</p>
        </div>
        <div class="content">
            <div class="information">
                <form id="form" th:action="@{/user/password}" method="post">
                    <div class="item">
                        <p class="label">Nhập mật khẩu cũ</p>
                        <div th:class="'W50dp5' + ${status != null ? ' error' : ''}">
                            <input type="password" name="oldPassword" id="old-password" autofocus>
                            <p class="error-message" th:text="${status != null ? status : ''}"></p>
                        </div>
                    </div>
                    <div class="item">
                        <p class="label">Nhập mật khẩu mới</p>
                        <div class="W50dp5">
                            <input type="password" name="newPassword" id="new-password">
                            <p class="error-message"></p>
                        </div>
                    </div>
                    <div class="item">
                        <p class="label">Nhập lại mật khẩu mới</p>
                        <div class="W50dp5">
                            <input type="password" name="rePassword" id="re-password">
                            <p class="error-message"></p>
                        </div>
                    </div>
                    <div class="item">
                        <p class="label"></p>
                        <button type="submit">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script src="/js/changePassword.js"></script>
</body>

</html>