<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Đăng ký</title>
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
            rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="/css/register.css" rel="stylesheet">
</head>

<body>
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w1080">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Đăng ký</h2>
                <form id="formRegister">
                    <div class="input-group">
                        <label class="label" for="fullName">Họ tên</label>
                        <input class="input--style-4" type="text" name="fullName" id="fullName" >
                        <p class="error-message"></p>
                    </div>
                    <div class="input-group">
                        <label class="label" for="username">Tên đăng nhập</label>
                        <input class="input--style-4" type="text" name="username" id="username" >
                        <p class="error-message"></p>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label" for="password">Mật khẩu</label>
                                <div class="input-group-icon">
                                    <input class="input--style-4" type="password" name="password" id="password">
                                    <i class="zmdi zmdi-eye-off input-icon"></i>
                                </div>
                                <p class="error-message"></p>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label" for="re-password">Nhập lại mật khẩu</label>
                                <div class="input-group-icon">
                                    <input class="input--style-4" type="password" name="re-password" id="re-password">
                                    <i class="zmdi zmdi-eye-off input-icon"></i>
                                </div>
                                <p class="error-message"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label" for="email">Email</label>
                                <input class="input--style-4" type="email" name="email" id="email" >
                                <p class="error-message"></p>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label" for="phone">Số điện thoại</label>
                                <input class="input--style-4" type="text" name="phone" id="phone" >
                                <p class="error-message"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-3">
                            <div class="input-group">
                                <label class="label" for="province">Địa chỉ</label>
                                <div class="rs-select2 js-select-simple">
                                    <select name="province" class="js-source-province" id="province">
                                        <option disabled="disabled" selected>Tỉnh</option>
                                    </select>
                                </div>
                                <p class="error-message"></p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group">
                                <label class="label" for="district">&nbsp;</label>
                                <div class="rs-select2 js-select-simple">
                                    <select name="district" class="js-source-district" id="district">
                                        <option disabled="disabled" selected>Quận / Huyện</option>
                                    </select>
                                </div>
                                <p class="error-message"></p>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group">
                                <label class="label" for="ward">&nbsp;</label>
                                <div class="rs-select2 js-select-simple">
                                    <select name="ward" class="js-source-ward" id="ward">
                                        <option disabled="disabled" selected>Phường / Xã</option>
                                    </select>
                                </div>
                                <p class="error-message"></p>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <label class="label" for="specific-address">Địa chỉ cụ thể</label>
                        <input class="input--style-4" type="text" name="specific-address" id="specific-address">
                        <p></p>
                    </div>
                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                    </div>
                </form>
                <div class="already-account">
                    <p>
                        Đã có tài khoản? &nbsp;<a th:href="@{/login}">Đăng nhập</a>
                    </p>
                    <p>
                        <a th:href="@{/}"><i class="zmdi zmdi-home"></i> &nbsp;Quay lại</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="/js/address.js"></script>
<script src="/js/register.js"></script>

</body>

</html>
<!-- end document-->