<div class="banner">
    <div class="slider">
        <div class="slider__content owl-carousel owl-theme">
            <div class="item">
                <a href="#"> <img src="/images/slides/slide1.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#"> <img src="/images/slides/slide2.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#"> <img src="/images/slides/slide3.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#"> <img src="/images/slides/slide4.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#"> <img src="/images/slides/slide5.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#"> <img src="/images/slides/slide6.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#"> <img src="/images/slides/slide7.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#"> <img src="/images/slides/slide8.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#"> <img src="/images/slides/slide9.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#"> <img src="/images/slides/slide10.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#"> <img src="/images/slides/slide11.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="ads">
        <a href="#"> <img src="/images/ads/ads.jpg" alt="">
        </a>
    </div>
</div>

<div class="buy_with_confident">
    <div>
		<span> <i class="fa-regular fa-circle-check"></i>
			<p>100% hàng chính hãng</p>
		</span> <span> <i class="fa-solid fa-user-pen"></i>
			<p>100% hàng chính hãng</p>
		</span> <span> <i class="fa-solid fa-truck-fast"></i>
			<p>100% hàng chính hãng</p>
		</span>
    </div>
    <div>
        <a href="#">An tâm mua sắm <i class="fa-solid fa-angle-right"></i></a>
    </div>
</div>